<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/adminFragments.html :: head">

</head>
<body>
<div th:insert="admin/adminFragments.html :: header">

</div>
<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="card-box pb-10">
            <div class="h5 pd-20 mb-0">Product</div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
                Add Product
            </button>


            <table class="data-table table nowrap">
                <thead>
                <tr>
                    <th class="table-plus">ID</th>
                    <th >Product Name</th>
                    <th >Price</th>
                    <th >ImageUrl</th>
                    <th >Description </th>
                    <th >Category</th>
                    <th class="datatable-nosort">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, iStat : ${products}">
                    <th scope="row" th:text="${iStat.index + 1}">1</th>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.url}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td style="display: none" th:text="${product.id}"></td>
                    <td>
                        <div class="table-actions">
                            <a href="#" data-color="#265ed7" class="edit-btn" data-bs-toggle="modal" data-bs-target="#editProduct">
                                <i class="icon-copy dw dw-edit2"></i>
                            </a>
                            <a href="#"  th:href="@{/admin/product/delete/{id}(id=${product.id})}" data-color="#e95959">
                                <i class="icon-copy dw dw-delete-3"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/saveProduct" method="post" th:object="${product}">

                <div class="modal-body">
                    <input class="form-control" type="text"  name="name" placeholder="Product Name" required>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="number"  name="price" placeholder="Product price" required>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text"  name="url" placeholder="Product image url" required>
                </div>
                <div class="modal-body">
                    <label class="form-label" >Description</label>
                    <textarea class="form-control" name="description" rows="4"></textarea>
                </div>
                <div class="modal-body">
                    <select class="form-control form-select form-select-sm" id="dropDownList" name="category">
                        <option  th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Update Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form action="/admin/updateProduct" method="post" th:object="${product}">

                    <div class="modal-body">
                        <input class="form-control" type="text" id="name" name="name" placeholder="Product Name" required>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id" >
                        <input class="form-control" type="number" id="price" name="price" placeholder="Product price" required>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" id="url" name="url" placeholder="Product image url" required>
                    </div>
                    <div class="modal-body">
                        <label class="form-label" for="textAreaExample">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                    </div>
                    <div class="modal-body">
                        <select class="form-control form-select form-select-sm"   name="category">
                            <option id="category"  th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
        </div>
    </div>
</div>


<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="vendors/scripts/dashboard3.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).on("click",".edit-btn",function (){
        var tr = $(this).closest('tr')
        var rowData = tr.children('td').map(function() {
            return $(this).text();
        }).get();

        var productName = rowData[0];
        var price = rowData[1];
        var url = rowData[2];
        var description = rowData[3];
        var category = rowData[4];
        var id = rowData[5];

        $('#name').val(productName);
        $('#price').val(price);
        $('#url').val(url);
        $('#description').val(description);

        // Select the category option based on its value
        var $categoryOption = $('#category option[value="' + category + '"]');
        $categoryOption.prop('selected', true);

        $('#id').val(id);
    })
</script>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
