<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="basket.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Basket</title>
</head>
<body class="basketmain">
<div th:insert="fragments.html :: navbar">

</div>
<main   style="margin-top: 100px;">
  <div class="basket">
    <div class="basket-labels">
      <ul>
        <li class="item item-heading">Item</li>
        <li class="price">Price</li>
        <li class="quantity">Quantity</li>
        <li class="subtotal">Subtotal</li>
      </ul>
    </div>
    <div class="basket-product" th:each="basket: ${baskets}">
      <h1 id="productId" th:text="${basket.id}" style="display: none"></h1>
      <div class="item">
        <div class="product-image">
          <img src="" th:src="${basket.url}" style="max-height: 120px;" alt="Placholder Image 2" class="product-frame">
        </div>
        <div class="product-details">
          <h1 th:text="${basket.name}"></h1>
          <p th:text="${basket.calories}"></p>
        </div>
      </div>
      <div class="price" th:text="${basket.price}"></div>
      <div class="quantity">
        <input type="number" value="4" min="1" class="quantity-field">
      </div>
      <div class="subtotal">104.00</div>
      <div class="remove">
        <button class="remove-btn">Remove</button>
      </div>
    </div>
  </div>
  <aside>
    <div class="summary">
      <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
      <div class="summary-subtotal">
        <div class="subtotal-title">Subtotal</div>
        <div class="subtotal-value final-value" id="basket-subtotal">130.00</div>
        <div class="summary-promo hide">
          <div class="promo-title">Promotion</div>
          <div class="promo-value final-value" id="basket-promo"></div>
        </div>
      </div>
      <div class="summary-delivery">
        <select name="delivery-collection" class="summary-delivery-selection">
          <option value="0" selected="selected">Select Collection or Delivery</option>
          <option value="collection">Collection</option>
          <option value="first-class">Royal Mail 1st Class</option>
          <option value="second-class">Royal Mail 2nd Class</option>
          <option value="signed-for">Royal Mail Special Delivery</option>
        </select>
      </div>
      <div class="summary-total">
        <div class="total-title">Total</div>
        <div class="total-value final-value" id="basket-total">130.00</div>
      </div>
      <div class="summary-checkout">
        <button class="checkout-cta">Go to Secure Checkout</button>
      </div>
    </div>
  </aside>
</main>


</div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).on("click",".remove-btn",function () {
    var tr = $(this).closest('.basket-product');
    var rowData = tr.children('h1').map(function() {
      return $(this).text();
    }).get();
    var id = rowData[0];

    $.ajax({
      method: 'GET',
      url: '/basket/delete/' + id,
      data: {
      },
      success: function (res) {
        location.reload();
        console.log(res);
      },
      error: function (xhr, status, error) {
        console.log(error);
      }
    });
  })
</script>

</html>