<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: head"></head>
<body>

<nav th:insert="fragments.html :: navbar">
</nav>

<section  class="menu" style="margin-top: 80px;">
    <!-- title -->
    <div class="title">
        <h2 th:text="${categoryName}">our menu</h2>
        <div class="underline"></div>
    </div>
    <!-- filter dropdown -->
    <div class="btn-container" th:if="${childCategories}">
        <a href="#" th:each="category : ${childCategories}" th:href="@{/category/{cid}/childcategory/{id}(cid=${categoryId},id=${category.id})}">
            <button  type="button" class="filter-btn" data-id="breakfast" th:text="${category.name}">
                <a href="#" th:text="${category.name}" th:href="@{category/{id}(id=${category.id})}"></a>
            </button>
        </a>

    </div>
    <div class="section-center">
        <article class="menu-item" data-id="breakfast" th:each="product: ${products}">
            <img th:src="${product.url}" alt="menu item" class="photo" />
            <div class="item-info">
                <header>
                    <h4 th:text="${product.name}">buttermilk pancakes</h4>
                    <h4 class="price" th:text="${product.price}">$15</h4>
                </header>
                <p class="item-text" th:text="${product.description}">

                </p>
                <div style="text-align: right">
                    <a style="align-content: end" th:href="@{product/{id}(id=${product.id})}">
                        <button  type="button" class="filter-btn" data-id="breakfast" >
                            More
                        </button>
                    </a>
                </div>
            </div>
        </article>
    </div>
</section>



<footer th:insert="fragments.html :: footer">

</footer>
</body>
</html>
