<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments.html :: head"></head>
<body>

<nav th:insert="fragments.html :: navbar">
</nav>
<div class="bg " style="margin-top: 100px; margin-bottom: 30px;">
    <div class="container">
        <a href="/" style="margin-left: 70px;color:black;text-decoration: none;">	&lt; Back to menu</a>
    </div>
    <div class="card">
        <div class="product-image">
            <img id="productImg" th:src="${product.url}" style="height: 700px;text-align: center;"  alt="" />
        </div>
        <div class="product-info" style="margin-left: 30px;">
            <h1 class="product-name" id="productName" th:text="${product.name}"></h1>
            <ul class="preferences" style="margin-bottom: 8px;">
                <li>
                    <span class="list-name" id="productCalories"  th:text="${product.calories}"></span>
                </li>
            </ul>
            <p id="productDescription" class="mr-5" style="font-size: 12px;" th:text="${product.description}"> </p>
            <div style="margin-bottom: 30px; ">
                <select id="productType" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="One">One</option>
                    <option value="Two">Two</option>
                    <option value="Three">Three</option>
                </select>
            </div>

            <div >
                <h5 style="display: inline;">$ <span id="productPrice" th:text="${product.price}"></span></h5>
                <a style="display: inline; margin-left: 20px;" class="btn basket" href="#">Add to basket</a>
            </div>
        </div>
    </div>
</div>


<footer th:insert="fragments.html :: footer">

</footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).on("click",".basket",function (){
        var img = document.getElementById('productImg').getAttribute('src');
        var price = $('#productPrice').text();;
        var description = $('#productDescription').text();;
        var name = $('#productName').text();
        var calories = $('#productCalories').text();
        var type = $('#productType').val()
        console.log(type)

        $.ajax({
            method: 'POST',
            url: '/basket/',
            data: {
                name: name,
                description: description,
                price: price,
                type: type,
                url: img,
                calories:calories
            },
            success: function (res) {
                const elements = document.getElementsByClassName("basket");
                for (let i = 0; i < elements.length; i++) {
                    elements[i].style.display = 'none';
                }
                console.log(res);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    })
</script>

</body>
</html>
